<!-- This is the login html file so lets improt -->
{% extends 'base.html' %}

<!-- Includes the quick_form -->
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ super() }}
Login
{% endblock %}

{% block body %}
{{ super() }}

<h1>Login</h1>

<!-- Printing the error -->
{% if error %}
<p>{{ error }}</p>
{% endif %}

<div class="container">
    <from action="{{ url_for('auth.login') }}" method="POST">
        {{ wtf.quick_form(login_form) }}
    </from>
</div>

<p>Dont't you have an account yet ?</p>
<a href="{{ url_for('auth.signup') }}">SigUp</a>

{% endblock %}
